body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background-color: #3d3d3d;
    display: flex;
    flex-direction: column;
}

header {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #979797;
}

.title h1{
    margin: 0;
}

.title p {
    margin: 0;
}

main {
    flex: 8;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.container section {
    display: flex;
    flex-direction: column;
}

.container section div:nth-child(1),
.container section div:nth-child(2),
.container section div:nth-child(3),
.container section div:nth-child(4) {
    width: 40px;
    height: 40px;
}

input {
    width: 60%;
    height: 60%;
    text-align: center;
    background: #555555a0;
    color: #FFF;
}

.box {
    display: block;
    height: 70%;
    width: 50%;
    background: #a1a1a1;
}