body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background-color: #3d3d3d;
    display: flex;
    flex-direction: column;
}

header {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #979797;
}

.title h1{
    margin: 0;
}

.title p {
    margin: 0;
}

main {
    flex: 8;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.container section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container section > div{
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: space-between;
}

.container section div div:nth-child(1),
.container section div div:nth-child(2),
.container section div div:nth-child(3),
.container section div div:nth-child(4) {
    width: 8em;
    height: 8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
}


input {
    width: 30%;
    height: 30%;
    text-align: center;
    background: #555555a0;
    color: #FFF;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.box {
    display: block;
    height: 80%;
    width: 50%;
    background: #a1a1a1;
}

.container section .text {
    display: flex;
    flex: 1;
}

#inputResult {
    background: #555555a0;
    color: #FFF;
    padding: 20px;
}